@font-face {
  /*
   * AcademyWeb, AcademyWebBold & AcademyWebItalic © ParaType.
   * More information at http://fonts.ru/pstore/default.asp?fcode=PT_ACD&letter=A
   */
  font-family: 'AcademyWebBold';
  src: url('/fonts/ACD75__W.eot');
  src:
       url('/fonts/ACD75__W.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ACD75__W.woff') format('woff'),
       url('/fonts/ACD75__W.ttf') format('truetype'),
       url('/fonts/ACD75__W.svg#AcademyWeb-Bold') format('svg');

	font-family: 'AcademyWeb';
	src: url('/fonts/ACD55__W.eot');
	src:
	     url('/fonts/ACD55__W.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/ACD55__W.woff') format('woff'),
	     url('/fonts/ACD55__W.ttf') format('truetype'),
	     url('/fonts/ACD55__W.svg#AcademyWeb') format('svg');

  font-family: 'AcademyWebItalic';
  src: url('/fonts/ACD56__W.eot');
  src:
       url('/fonts/ACD56__W.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ACD56__W.woff') format('woff'),
       url('/fonts/ACD56__W.ttf') format('truetype'),
       url('/fonts/ACD56__W.svg#AcademyWeb-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  max-width: 50em;
  color: #444;
  font-family: 'AcademyWeb', Georgia, serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 1em auto;
}

i, em {
  font-family: 'AcademyWebItalic', serif;
}

strong, b {
  font-family: 'AcademyWebBold', serif;
}

a {
  color: #00A;
}

p{
  margin: 15px 0;
}

p.meta {
  font-size: 80%;
  color: #494949;
}

h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin: 1.8em 0 0;
}

img {
  margin-bottom: -7px;
}

pre {
  line-height: 1.2em;
}

code {
  font-size: 90%;
}

.howdy {
  font-size: 1.55em;
  line-height: 1.2em;
}

.caption {
  font-size: 3em;
  font-family: Didot, Georgia, serif;
  line-height: 1.3em;
  color: #F54;
}

.header{
  padding: .3em;
  text-align: right;
}

a.about {
  text-decoration: none;
  color: #444;
}
a.home_link {
  color: #ccc;
  text-decoration: none;
  padding-bottom: 4em;
}

ul.posts {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2em;
}

ul.posts li {
  margin-bottom: 1.5em;
}

ul.posts li span.post_date {
  color: #777;
  font-family: 'Liberation Mono', 'Menlo', monospace;
  font-size: 90%;
}

ul.posts li a {
  font-family: 'Helvetica', sans;
  font-weight: bold;
  text-decoration: none;
  color: #444;
}

ul.posts li span.post_annotation {
  color: #999;
  display: block;
  width: 40em;
  font-family: 'Georgia', serif;
  font-style: italic;
  line-height: 1.2em;
  text-align: justify;
}

#post p code {
  padding: .2em;
  background-color: lightYellow;
}

#post {
  margin-bottom: 5em;
  text-align: justify;
}
