body{
  position: relative;
  width: 80%;
  max-width: 1000px;
  color: #444;
  font-family: 'PT Serif', 'Droid Serif', Georgia, serif;
  font-size: 1.2em;
  line-height: 1.4em;
  padding: 0 .3em 2em;
  margin: auto;
}

h1, h2, h3, h4, h5, h6, caption, root_link {
  font-family: 'PT Serif Caption', 'Droid Serif', Georgia, serif;
}

a {
  color: #00A;
}

p{
  margin: 15px 0;
}

p.meta {
  font-size: 80%;
  color: #494949;
}

h1 {
  font-size: 1.6em;
  line-height: 3em;
}

.caption {
  font-size: 5em;
  line-height: 5.4em;
  color: #F54;
  font-variant: small-caps;
}

.header{
  border-bottom: 0.1em solid #999;
  padding: .3em;
  text-align: right;
}
.header img {
  margin-bottom: -7px;
}
.header span {
  float: left;
  display: inline-block;
  clear: both;
  margin-left: .1em;
  font-family: 'Liberation Mono', 'Menlo', monospace;
}

a.about {
  text-decoration: none;
  color: #444;
}
a.root_link {
  color: #F54;
  font-size: 3em;
  font-variant: small-caps;
  text-decoration: none;
  position: absolute;
}
a.root_link:hover {
  color: #00A;
  text-decoration: underline;
}

ul.posts {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span, #post code {
  font-family: 'Liberation Mono', 'Menlo', monospace;
  font-size: 90%;
}

#post {
  margin-bottom: 5em;
}
