@font-face {
  /*
   * AcademyWeb, AcademyWebBold & AcademyWebItalic © ParaType.
   * More information at http://fonts.ru/pstore/default.asp?fcode=PT_ACD&letter=A
   */
  font-family: 'AcademyWebBold';
  src: url('/fonts/ACD75__W.eot');
  src:
       url('/fonts/ACD75__W.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ACD75__W.woff') format('woff'),
       url('/fonts/ACD75__W.ttf') format('truetype'),
       url('/fonts/ACD75__W.svg#AcademyWeb-Bold') format('svg');

	font-family: 'AcademyWeb';
	src: url('/fonts/ACD55__W.eot');
	src:
	     url('/fonts/ACD55__W.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/ACD55__W.woff') format('woff'),
	     url('/fonts/ACD55__W.ttf') format('truetype'),
	     url('/fonts/ACD55__W.svg#AcademyWeb') format('svg');

  font-family: 'AcademyWebItalic';
  src: url('/fonts/ACD56__W.eot');
  src:
       url('/fonts/ACD56__W.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ACD56__W.woff') format('woff'),
       url('/fonts/ACD56__W.ttf') format('truetype'),
       url('/fonts/ACD56__W.svg#AcademyWeb-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: rgb(255,255,255);
  overflow-y: scroll;
}

body {
  color: #444;
  font-family: 'AcademyWeb', Georgia, serif;
  font-size: 81.25%;
  line-height: 1.5em;
}

i, em {
  font-family: 'AcademyWebItalic', serif;
}

strong, b {
  font-family: 'AcademyWebBold', serif;
}

a {
  color: #00A;
}

p{
  margin: 15px 0;
}

p.meta {
  font-size: 80%;
  color: #494949;
}

h1, h2, h3, h4, h5, h6 {
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga" 1, "kern" 1;
  text-rendering: optimizeLegibility;
  margin-bottom: 1.42382em;
  font-weight: normal;
}

h1 {
  margin: .97em 0 .5em;
  line-height: 1.125em;
  font-size: 2em;
  font-style: italic;
  text-align: center;
}

.ie h1 {
  font-size: 4em;
  }

h2 {
  line-height: 1.77777em;
  margin-bottom: 1em;
  font-size: 1.2em;
  }

h3 {
  margin: 1.7em 0 .85em;
  line-height: 1.5em;
  font-size: 1.3em;
  }

h4 {
  line-height: 1.12382em;
  margin: 0 0 1.3em;
  font-size: 1.2em;
  }

h5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5em;
  margin: 0 0 1.5em;
  font-size: 1em;
  }

h6 {
  font-weight: bold;
  margin: 0 0 1.5em;
  }

p, blockquote, .content img {
  margin-bottom: 1.5em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

abbr {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  cursor: help;
}

img {
  margin-bottom: -7px;
}

pre {
  line-height: 1.2em;
}

code {
  font-size: 90%;
}

.caption h1 {
  color: #F54;
  font-style: normal;
  text-transform: lowercase;
  font-variant: small-caps;
}

.about {
  font-family: Helvetica, PT Sans, sans-serif;
  font-size: 1.25em;
}
.about h1 {
  margin: 0;
  font-size: 3em;
  font-style: normal;
  font-weight: bold;
  text-align: left;
}
.about h2 {
  margin: 0;
}

a.header_link {
  color: #ccc;
  text-decoration: none;
  padding-bottom: 4em;
}

ul.posts {
  list-style-type: none;
  padding-left: 0;
  margin-top: 2em;
}

ul.posts li {
  margin-bottom: 1.5em;
}

ul.posts li span.post_date {
  color: #777;
  font-family: 'Liberation Mono', 'Menlo', monospace;
  font-size: 90%;
}

ul.posts li a {
  font-family: Helvetica, sans;
  font-weight: bold;
  text-decoration: none;
  color: #444;
}

ul.posts li span.post_annotation {
  color: #999;
  display: block;
  width: 40em;
  font-family: 'Georgia', serif;
  font-style: italic;
  line-height: 1.2em;
  text-align: justify;
}

article p code {
  padding: .2em;
  background-color: lightYellow;
}

article {
  margin-bottom: 5em;
  text-align: justify;
}

/*
  MIN-WIDTH: 15.652em
--------------------------------------------- */

@media screen and (min-width: 15.652em) {

  body {
    font-size: 87.5%;
    }

  h2 {
    font-size: 1.26562em;
    }

  h3 {
    font-size: 1.5em;
    }

  h4 {
    font-size: 1.26562em;
    }

  }

/*
  MIN-WIDTH: 19.9375em
--------------------------------------------- */

@media screen and (min-width: 19.9375em) {

  body {
    font-size: 100%;
  }

  .content, .about, header, footer {
    padding: 1.5em;
  }

  h1 {
    font-size: 3em;
    }

  }

/*
  MIN-WIDTH: 29.9375em
--------------------------------------------- */

@media screen and (min-width: 29.9375em) {

  .content, .about, header, footer {
    padding: 1.5em 3em;
    max-width: 34.3em;
    }

  ul, ol {
    margin-left: 0;
  }

}

/*
  MIN-WIDTH: 38em
--------------------------------------------- */

@media screen and (min-width: 38em) {

  .content, .about, header, footer {
    padding: 0 7.59372em;
  }

  h1 {
    margin: .97em 0 .8em;
    font-size: 4em;
  }

}

/*
  MIN-WIDTH: 99.9375em
--------------------------------------------- */

@media screen and (min-width: 99.9375em) {

  body {
    line-height: 1.75em;
    font-size: 112.5%;
  }

  .content, .about, header, footer {
    max-width: 44.43736em;
  }

}

