<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='Dmitry Koprov is a ruby on rails developer, trying to be a full stack web creative in the nearest future.' name='description' />
    <meta content='sass, css, ruby, rails, sinatra, rspec, testing, mobile, html5, macos, unix, console, tips, scheme' name='keywords' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

    <link href='/css/normalize.css' rel='stylesheet' type='text/css' />
    <link href='/css/main.css' rel='stylesheet' type='text/css' />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>

    <header>
      <a class="header_link" href="/">home</a>
    </header>

    <div class="content">
      {{ content }}
    </div>

    <footer>
      <p>
        Dmitry V. Koprov
        <br />
        <a href="http://twitter.com/dkoprov">@dkoprov</a>
        <br />
        <a href="http://github.com/dkoprov">github.com/dkoprov</a>
        <br />
        dmitry.koprov@gmail.com
      </p>
    </footer>

</body>
</html>
