<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href='/css/normalize.css' rel='stylesheet' type='text/css' />
    <link href='/css/main.css' rel='stylesheet' type='text/css' />
  </head>
  <body>

    <div class="caption">
      <h1>monologs</h1>
      <em>on software development</em> <br />
      <em><a class='about' href='about.html'>by Dmitry Koprov</a></em>
    </div>
    <!--<div class="header">-->
      <!--<a href="http://feeds.feedburner.com/dmitry-koprov"><img src="/images/rss.png" /></a>-->
    <!--</div>-->

    <div class="content">
      {{ content }}
    </div>

  </body>
</html>
