<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <link href='/css/normalize.css' rel='stylesheet' type='text/css' />
    <link href='/css/main.css' rel='stylesheet' type='text/css' />
  </head>
  <body>

    <span class="caption">моно[б]лог</span>
    <div class="header">
       заметки о разработке ПО :: <a class='about' href='about.html'>об авторе</a> ::
      <a href="https://github.com/dkoprov"><img src="/images/github.png" /></a>
      <a href="http://twitter.com/dkoprov"><img src="/images/twitter.png" /></a>
      <a href="http://www.lastfm.ru/user/dimbas"><img src="/images/last.fm.png" /></a>

    </div>

    <div class="content">
      {{ content }}
    </div>

</body>
</html>
