<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href='/css/normalize.css' rel='stylesheet' type='text/css' />
    <link href='/css/main.css' rel='stylesheet' type='text/css' />
  </head>
  <body>

    <span class="caption">analog blog</span>
    <div class="header">
      о разработке ПО от Копрова Димы :: <a href='about.html'>обо мне</a> ::
      <a href="https://github.com/dkoprov"><img src="/images/github.png" /></a>
      <a href="http://twitter.com/dkoprov"><img src="/images/twitter.png" /></a>
      <a href="http://www.lastfm.ru/user/dimbas"><img src="/images/last.fm.png" /></a>

    </div>

    <div class="content">
      {{ content }}
    </div>

</body>
</html>
